In [1]:
print("Hello World")

Hello World

## Scripting language (Line by Line)

In [2]:
print("Python is a scripting language")
print("Python is a scripting language")
print("Python is a scripting language")
print("Python is a scripting language")

Python is a scripting language
Python is a scripting language
Python is a scripting language
Python is a scripting language

# Functional programming language(All at once)

In [3]:
def func1():
    print("Python is a functional programming language")
    print("Python is a functional programming language")
    print("Python is a functional programming language")
    
func1()

Python is a functional programming language
Python is a functional programming language
Python is a functional programming language

# OOP(making of classes and objects)

In [4]:
class class1:
    def func2(self):
        print("Python is a object oriented programming language")
        print("Python is a object oriented programming language")
        print("Python is a object oriented programming language")
        print("Python is a object oriented programming language")

obj1 = class1()
obj1.func2()

Python is a object oriented programming language
Python is a object oriented programming language
Python is a object oriented programming language
Python is a object oriented programming language

In [5]:
cash = 500
print(cash)

cAsh = 9000
print(cAsh)

500
9000

# All Keywords

In [6]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# DataTypes

In [37]:
a = 10
print(a)
print(type(a))
print(id(a))

10
<class 'int'>
4392136960

In [38]:
x = 9999999999999999999999999999999999999
print(x)
print(type(x))
print(id(x))

9999999999999999999999999999999999999
<class 'int'>
4445061600

In [39]:
a = 0B111
print(a)
print(type(a))

7
<class 'int'>

In [40]:
a = 0o111
print(a)
print(type(a))

73
<class 'int'>

In [41]:
a = 0xFACE
print(a)
print(type(a))

64206
<class 'int'>

In [42]:
print(bin(99))

0b1100011

In [43]:
print(hex(99))

0x63

In [44]:
print(oct(99))

0o143

## Float

In [45]:
f = 1.234
print(f)
print(type(f))

f = 1.2e3
print(f)
print(type(f))

f = 1.2E3
print(f)
print(type(f))

1.234
<class 'float'>
1200.0
<class 'float'>
1200.0
<class 'float'>

## Complex

In [47]:
c = 10+20j
print(c)
print(type(c))
print(c.real)
print(c.imag)

(10+20j)
<class 'complex'>
10.0
20.0

## Boolean

In [48]:
b = True
print(b)
print(type(b))

b = False
print(b)
print(type(b))

# Comparison returns a boolean
a = 10
b = 20
c = a < b
print(c)

print(True + True)   # 1 + 1 = 2
print(True + False)  # 1 + 0 = 1
print(False + False) # 0 + 0 = 0

print(100 + True)    # 100 + 1 = 101

True
<class 'bool'>
False
<class 'bool'>
True
2
1
0
101

## Bytes

In [21]:
b = [10, 20, 30, 40, 50]
b1 = bytes(b)

for e in b1:
    print(e)

print(type(b1))

10
20
30
40
50
<class 'bytes'>

In [ ]:
b = [10, 20, 30, 40, 50, 257]  # Uncommenting will raise ValueError
# b1 = bytes(b) <--- Since it contains a number more than 255

ValueError: bytes must be in range(0, 256)

In [ ]:
b = [10, 20, 30, 40, 50]
b1 = bytes(b)

# Uncommenting below will raise TypeError
# b1[0] = 25

TypeError: 'bytes' object does not support item assignment

## Byte Array

In [28]:
b = [10, 20, 30, 40, 50]
b1 = bytearray(b)

b1[0] = 25 # <-- It supports assignment
print(b1[0])
print(type(b1))
for e in b1:
    print(e)
# b1[0] = 256 < ---Must be between 0-255

25
<class 'bytearray'>
25
20
30
40
50

## Strings

In [54]:
s1 = 'Hello'
print(s1)
print(type(s1))
print(id(s1))

Hello
<class 'str'>
4445064768

In [55]:
s2 = "Hello"
print(s2)
print(type(s2))
print(id(s2))

Hello
<class 'str'>
4445064768

In [56]:
c1 = 'A'
print(c1)
print(type(c1))
print(id(c1))

A
<class 'str'>
4392201824

In [57]:
s3 = """Hello"""
print(s3)
print(type(s3))
print(id(s3))

Hello
<class 'str'>
4445064768

In [58]:
s4 = '''Hello'''
print(s4)
print(type(s4))
print(id(s4))

Hello
<class 'str'>
4445064768

### Multiline Strings

In [59]:
s5 = """Hello world
This is a multiline
Strings.'Today'"""
print(s5)
print(type(s5))
print(id(s5))

Hello world
This is a multiline
Strings.'Today'
<class 'str'>
4525578384

In [63]:
s6 = '''Hello
World
From
Python. "Today"'''
print(s6)

Hello
World
From
Python. "Today"

### String indexing

In [ ]:
s7 = "Phone Python"
print(s7[0])
print(s7[10])
print(s7[5])
c = s7[4]
print(type(s7[5]))
print(type(c))
x = "c"

P
o

<class 'str'>
<class 'str'>
<class 'str'>

In [70]:
s8 = "Aditya"
print(s8[-1])
print(s8[-5])

a
d

### String slicing

In [ ]:

s9 = "HELLLOOOO WORLD"
print(s9[1:5])
print(s9[1:9:2])
print(s9[1:900])
print(s9[-5:-12:-2])
print(s9[-2:-8:-1])
print(s9*3)

ELLL
ELOO
ELLLOOOO WORLD
WOOL
LROW O
HELLLOOOO WORLDHELLLOOOO WORLDHELLLOOOO WORLD

In [86]:
s10 = "ksnkskjc slkm"
print(len(s10))

13

### Reverse String

In [92]:
s11 = "Aditya"
print(s11[::-1])

aytidA

### String Functions

In [ ]:
s12 = "MeowwwWwwwExM Meowww"
print(len(s12))
print(s12.upper())
print(s12.lower())
print(s12.swapcase()) #<-- Swap lower and upper case
print(s12.capitalize()) #<-- capitalize the first word of the sentance
print(s12.title()) #<--begining of each word is capital

20
MEOWWWWWWWEXM MEOWWW
meowwwwwwwexm meowww
mEOWWWwWWWeXm mEOWWW
Meowwwwwwwexm meowww
Meowwwwwwwexm Meowww

### concatenation

In [101]:
print("Hello" + "World " + "Meoww" + " " + "Meoww")
print("@"*10)
print(50*"-")

HelloWorld Meoww Meoww
@@@@@@@@@@
--------------------------------------------------

### Split strings

In [102]:
s13 = "Learnig python is fun"
print(s13.split())

['Learnig', 'python', 'is', 'fun']

In [103]:
print(type(s13.split()))

<class 'list'>

In [105]:
print(s13.split("i"))

['Learn', 'g python ', 's fun']

## Conversions

### Int conversion

In [106]:
print(int(123.90))
print(int(True))

123
1

In [109]:
print(int(False))
print(int(10 + 9j))

0

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [110]:
print(int("10"))

10

### FLoat conversion

In [112]:
print(float(12))
print(float("1223"))

12.0
1223.0

### Complex conversion

In [115]:
print(complex(10))
print(complex("09.9"))
print(complex(99,-8))

(10+0j)
(9.9+0j)
(99-8j)

### boolean conversion

In [119]:
print(bool(0))
print(bool(1922))
print(bool("False"))
print(bool("True"))
print(bool(""))
print(bool(0+0j))

False
True
True
True
False
False

### String Conversion

In [121]:
print(str(10.8))

10.8

In [122]:
print(str(10.9j))

10.9j

In [125]:
print(type(str(99.09)))
print(str(99.09))
print("True")

<class 'str'>
99.09
True

## Immutability(Fundamental data type are immutable)

In [ ]:
x = 99
print(id(x))
x = 87 # <-- Immutable because the data is not changed but the location is changed or the memory address
print(id(x))
x = 99
print(id(x))
y = 99
print(id(y))
def func():
    print("Hello")
print(id(func))

4392139808
4392139424
4392139808
4392139808
4527712288

In [ ]:
print(x is y) #<-- refereing to the same id

True

# Range Operator

In [132]:
print(range(10))

range(0, 10)

In [133]:
r1 = range(10)
for n in r1:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [135]:
r1 = range(1,7)
for i in r1:
    print(i)

1
2
3
4
5
6

In [ ]:
r3 = range(10,20,3)
for i in r3:
    print(i)

print(type(r3))
print(r3[1])

10
13
16
19
<class 'range'>
13

In [138]:
print(r3[10])

IndexError: range object index out of range

In [139]:
r3[1] = 99

TypeError: 'range' object does not support item assignment

In [143]:
l1 = list(range(20))
print(l1)
print(type(l1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
<class 'list'>

# List

In [156]:
l2 = [1,"Hello" , True, 99]
print(l2)
print(len(l2))
print(l2[2])
print(type(l2))
print(type[l2[2]])
print(id(l2))
l2[0] = 90 #<-- immutable only address changed
l2.append("Aditya")
print(l2)
print(id(l2))

[1, 'Hello', True, 99]
4
True
<class 'list'>
type[True]
4525075776
[90, 'Hello', True, 99, 'Aditya']
4525075776

In [147]:
l2 = [1, 2, "Hello", "Python", 5]
print(l2)
print(type(l2))
print(id(l2))

print(l2[0])
print(type(l2[0]))
print(id(l2[0]))

l2[0] = 'Modified Value'
print(l2[0])
print(type(l2[0]))
print(id(l2[0]))
print(l2)
print(type(l2))
print(id(l2))

[1, 2, 'Hello', 'Python', 5]
<class 'list'>
4526868352
1
<class 'int'>
4392136672
Modified Value
<class 'str'>
4526831536
['Modified Value', 2, 'Hello', 'Python', 5]
<class 'list'>
4526868352

In [148]:
l3 = l2
print(l3)
print(l2 is l3)

l4 = l3 * 2
print(l4)

l5 = l4 + l3
print(l5)

['Modified Value', 2, 'Hello', 'Python', 5]
True
['Modified Value', 2, 'Hello', 'Python', 5, 'Modified Value', 2, 'Hello', 'Python', 5]
['Modified Value', 2, 'Hello', 'Python', 5, 'Modified Value', 2, 'Hello', 'Python', 5, 'Modified Value', 2, 'Hello', 'Python', 5]

# Tuple

Same as List but immutable

In [157]:
t1 = (1,2,"tt",True,1) #<-- Immutable as once created not changed
print(t1)
print(type(t1))

(1, 2, 'tt', True, 1)
<class 'tuple'>

In [159]:
t1.append(99) #<-- Immutable as once created not changed

AttributeError: 'tuple' object has no attribute 'append'

In [153]:
t1[0] = "k kjd "

TypeError: 'tuple' object does not support item assignment

# Dictionary

Key value pair

In [163]:
d1 = {'Name':'Aditya Sah','Age':'22'}
print(d1)
print(type(d1))
print(id(d1))

{'Name': 'Aditya Sah', 'Age': '22'}
<class 'dict'>
4529095296

In [164]:
d1['Name'] = 'Adi'
print(d1)
print(id(d1))

{'Name': 'Adi', 'Age': '22'}
4529095296

In [165]:
print(d1['Name'])

Adi

# Set

Unordered Collection of elements

In [166]:
s1 = {1,2,4,"hello"}
print(s1)

{1, 2, 4, 'hello'}

In [171]:
s2 = {1,1,2,9,"Hello",False}
print(s2)

{False, 1, 2, 'Hello', 9}

In [172]:
print(s2[2])

TypeError: 'set' object is not subscriptable

In [174]:
s2.add(123)
print(s2)

{False, 1, 2, 'Hello', 9, 123}

# FrozenSet

In [177]:
s2 = frozenset({100,99,78,1,2,"Meoww"})
print(s2)

frozenset({1, 2, 99, 100, 'Meoww', 78})

In [178]:
# Uncommenting below will raise TypeError
print(s2[2])

# Uncommenting below will raise AttributeError
s2.add(25)

TypeError: 'frozenset' object is not subscriptable

# NoneType

In [179]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

In [180]:
# Example 2: Function returning None
def greet():
    print("Hello!")

result = greet()
print(result)
print(type(result))

Hello!
None
<class 'NoneType'>

# Operators

## Arithmetic Operators

In [184]:
a = 10
b = 2
print('a+b', a+b)
print('a-b', a-b)
print('a*b', a*b)
print('a/b', a/b)
print('a//b', a//b)
print('a%b', a%b)
print('a**b', a**b)

a+b 12
a-b 8
a*b 20
a/b 5.0
a//b 5
a%b 0
a**b 100

In [186]:
a = 2.1
b = 3.4
print(a//b)
print(a/b)

0.0
0.6176470588235294

In [187]:
print(9//0.2)

44.0

In [188]:
print(9/0.2)

45.0

## Relational Operators

In [189]:

a = 10
b = 20
print('a>b', a>b)
print('a>=b', a>=b)

a>b False
a>=b False

## Relational Operators on Strings

In [191]:
a = "Hello"
b = "hello"
print('a>b', a>b)
print('a>=b', a>=b)
print('a<b', a<b)
print('a<=b', a<=b)

a>b False
a>=b False
a<b True
a<=b True

## Relational Operator Chaining

In [193]:
print(10 < 20 < 30)
print(10 < 20 > 30)

True
False

## Equality Operators

In [194]:
print(10 == 20)
print(10 != 20)
print(10 == 20 == 30)

False
True
False

## Logical Operators

In [195]:
print(True and False)
print(True or False)
print(not False)

False
True
True

## Bitwise Operator

In [197]:
print()
print(1&1)
print(1|0)
print(1^0)

1
1
1

## Assignment Opertaors

In [199]:
x = 19
print(x)
x+=1
print(x)
x-=1
print(x)
x*=2
print(x)

19
20
19
38

In [200]:
x = 10
print(x)

x = x + 30
print(x)

x += 30
print(x)

x //= 7
print(x)

x **= 3
print(x)

10
40
70
10
1000

## Identity Operators

In [201]:
a = 50
print(a)
print(id(a))

b = 90
print(b)
print(id(b))

print(a is b)
print(a is not b)

c = 90
print(c)
print(id(c))
print(c is c)
print(b is not c)

50
4392138240
90
4392139520
False
True
90
4392139520
True
False

## Membership Operators

In [202]:
s1 ="Learning is fun"
print("earn" in s1)

True

In [203]:
str1 = "Learning Python is fun"
print("fun" in str1)

list1 = [1, 2, 3, 4]
if 3 in list1:
    print('found')
else:
    print('not found')

True
found

## Ternary Operator

In [204]:
a = 10
b = 5
c = 9 if a > b else 40
print(c)

9

## Operator Precedece

In [205]:
a = 30; b = 20; c = 10; d = 5
print(a+b*c-d)
print((a+b)*c-d)
print(a+b*(c-d))
print(a+(b*c)-d)
print((a+b)*(c-d))
print(a+(b*c)/d)
print(a+(b*c)//d)
print((a+b*c)/d)
print((a+b)*c/d)
print((a+b)*(c/d))
print((a+b)*c/d)

print(3/2*4+3+(10/5)**3-2)

225
495
130
225
250
70.0
70
46.0
100.0
100.0
100.0
15.0

# Modules

In [206]:
import math
print(math.sqrt(99))
print(math.pi)

9.9498743710662
3.141592653589793

In [207]:
import math as m
print(m.sqrt(64))
print(m.pi)

8.0
3.141592653589793